{% extends "base.html" %}

{% block title %}Список кімнат{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="/static/css/rooms.css">
{% endblock %}

{% block content %}
<div class="container">
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close-modal" onclick="closeEditModal()">&times;</span>
            <h2>Редагувати назву кімнати</h2>
            <form id="editWordForm" class="modal-form">
                <input type="hidden" id="editRoomId">
                <input type="text" id="editRoomName" placeholder="Нова назва кімнати">
                <button type="button" onclick="saveEditedRoom()">Зберегти</button>
            </form>
        </div>
    </div>

    <h1>Список кімнат</h1>

    <ul class="room-list" id="roomList">
        {% for room in rooms %}
        <li class="room-item">
            <span>{{ room.name }}</span>
            <a href="{% url 'room_words' room.id %}">Переглянути</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Ваші кімнати</h2>

    {% if user_rooms %}
        <ul class="room-list" id="roomUserList">
            {% for room in user_rooms %}
            <li class="room-item" data-room-id="{{ room.id }}">
                <span>{{ room.name }}</span>
                <div class="room-actions">
                    <button class="edit-room" room-id="{{ room.id }}" room-name="{{ room.name }}">Редагувати</button>
                    <button class="delete-room" onclick="deleteRoom({{ room.id }})">Видалити</button>
                    <a href="{% url 'user_room_words' room.id %}">Переглянути</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ви ще не маєте кімнат</p>
    {% endif %}

    <div class="add-room">
        <a href="javascript:void(0);" onclick="showAddRoomForm()">Додати нову кімнату</a>
    </div>

    <div class="add-room-form" id="addRoomForm">
        <input type="text" id="roomName" placeholder="Введіть ім'я кімнати" required>
        <button onclick="submitNewRoom()">Додати</button>
        <p id="errorMessage" class="error"></p>
    </div>
</div>

<script>
    function showAddRoomForm() {
        var form = document.getElementById('addRoomForm');
        form.style.display = 'block';
    }

    function editRoom(roomId, roomName) {
        document.getElementById('editRoomId').value = roomId;
        document.getElementById('editRoomName').value = roomName;

        document.getElementById('editModal').style.display = 'block';
    }

    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    function saveEditedRoom() {
        var roomId = document.getElementById('editRoomId').value;
        var newRoomName = document.getElementById('editRoomName').value;
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        if (newRoomName.trim() !== '') {
            fetch("{% url 'edit_room' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ room_id: roomId, new_name: newRoomName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const roomItem = document.querySelector(`.room-item[data-room-id="${roomId}"]`);
                    if (roomItem) {
                        roomItem.querySelector('span').textContent = newRoomName;
                    }
                    closeEditModal();
                } else {
                    alert('Не вдалося зберегти зміни: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Сталася помилка при збереженні змін.');
            });
        } else {
            alert('Будь ласка, введіть нову назву кімнати!');
        }
    }

    function deleteRoom(roomId) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        if (confirm('Ви впевнені, що хочете видалити цю кімнату?')) {
            
            fetch("{% url 'delete_room' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ room_id: roomId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const roomItem = document.querySelector(`.room-item[data-room-id="${roomId}"]`);
                    console.log
                    if (roomItem) {
                        roomItem.remove();
                    }
                } else {
                    alert('Не вдалося видалити кімнату: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Сталася помилка при видаленні кімнати.');
            });
        }
    }

    function submitNewRoom() {
        var roomName = document.getElementById('roomName').value;
        var errorMessage = document.getElementById('errorMessage');

        if (roomName.trim() !== '') {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add_room/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = function () {
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    var roomList = document.getElementById('roomUserList');
                    var newRoom = document.createElement('li');
                    newRoom.classList.add('room-item');
                    newRoom.innerHTML += '<span>' + response.room_name + '</span>';
                    newRoom.appendChild(document.createElement('div')).classList.add('room-actions');
                    var roomActions = newRoom.querySelector('.room-actions');
                    roomActions.innerHTML += '<button class="edit-room" room-id="' + response.room_id + '" room-name="' + response.room_name + '">Редагувати</button>';
                    roomActions.innerHTML += '<button class="delete-room" onclick="deleteRoom(' + response.room_id + ')">Видалити</button>';
                    roomActions.innerHTML += '<a href="room/user/' + response.room_id + '">Переглянути</a>';

                    newRoom.appendChild(roomActions);
                    roomList.appendChild(newRoom);
                    document.getElementById('roomName').value = '';
                    errorMessage.textContent = '';
                } else {
                    errorMessage.textContent = response.error;
                }
            };
            xhr.send('name=' + encodeURIComponent(roomName));
        } else {
            errorMessage.textContent = 'Будь ласка, введіть назву кімнати!';
        }
    }

    document.querySelectorAll('.edit-room').forEach(button => {
        button.addEventListener('click', function() {
            const roomId = this.getAttribute('room-id');
            const roomName = this.getAttribute('room-name');
            editRoom(roomId, roomName);
        });
    });

    window.onclick = function(event) {
        const modal = document.getElementById('editModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}
